@using WajbahAdmin.Models.Dto
@model ChefDto

<div class="container">
    <div class="profile-header">
        <img src="https://via.placeholder.com/50" alt="Profile Picture">
        <h2>@Model.ChefFirstName @Model.ChefLastName</h2>
        <div class="status ml-auto">
            <span class="status-indicator @(Model.Active == true ? "online" : "offline")"></span>
            <span style="width:80px">@(Model.Active == true ? "Open" : "Closed")</span>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>Email</label>
            <input type="text" class="form-control" value="@Model.Email" readonly>
        </div>
        <div class="col-md-6 form-group">
            <form asp-action="ChangeState" asp-route-id="@Model.ChefId" method="post">
                <button type="submit" class="btn @(Model.State ? "btn-success":"btn-danger")">
                    @(Model.State ? "Activate" : "Deactivate")
                </button>
            </form>
        </div>
        <div class="col-md-6 form-group">
            <label>ID</label>
            <input type="text" class="form-control" value="@Model.ChefId" readonly>
        </div>
        <div class="col-md-6 form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" value="@Model.PhoneNumber" readonly>
        </div>
        <div class="col-md-6 form-group">
            <label>BirthDate</label>
            <input type="text" class="form-control" value="@Model.BirthDate" readonly>
        </div>

        <div class="col-md-6 form-group">
            <label>Restaurant Name</label>
            <input type="text" class="form-control" value="@Model.RestaurantName" readonly>
        </div>
        <div class="col-md-6 form-group">
            <label>Rate</label>
            <input type="text" class="form-control" value="@Model.Rating" readonly>
        </div>
        <div class="col-md-6 form-group">
            <label>Wallet</label>
            <input type="text" class="form-control" value="@Model.Wallet" readonly>
        </div>
        <div class="col-md-6 form-group">
            <h4><a asp-action="ShowOrders" asp-route-id="@Model.ChefId">Go to orders</a></h4>
        </div>
    </div>
</div>